.todos{
    list-style: none;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  .todos li {
      background: #efefef;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius:4px;
      box-shadow: 1px 1px 5px 2px #ccc;
      margin-bottom: 20px;
      transition: all ease-out 0.1s;
  }

  .todos li:hover {
      background:#eef7f5;
      padding: 10px 20px;
  }

  .todos li p {
      margin: 0;
  }
  .day {
      width: 80%;
      margin: 10px auto;
  }